.nav-bar {
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center !important;
    justify-content: space-around;
    text-align: center;
    background-color: #a4a3a3d8;
    width: 100%;
    opacity: 100%;
    z-index: 4;
}

.nav-links {
    position: relative;
    margin: 0;
    display: flex;
}

.nav-links li {
    padding: 0px 20px;
    list-style: none;
}
  
.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}
  
.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #FF9900;
}