body {
    background: #e6edf2;
    font-family: 'Montserrat', sans-serif;
}

/* Inicio Navbar */
.nav-bar {
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #8b8b8b;
    padding: 1%;
}

.nav-img {
    width: 10%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-body {
    width: 100%;
}
/* Fim Navbar */

/* Inicio Oque é */
.oque-e {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.oque-e img {
    width: 30%;
}

.oque-e h1 {
    color: rgb(39, 39, 39);
}

.oque-e p {
    color: rgb(39, 39, 39);
}
/* Fim Oque é */

/* Inicio Como Jogar */
.como-jogar {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.como-jogar img {
    width: 30%;
}

.como-jogar h1 {
    color: rgb(39, 39, 39);
    font-size: ;
}

.como-jogar p {
    color: rgb(39, 39, 39);
    font-size: 100%;
}
/* Fim Como Jogar */

/* Inicio Indicações */
.indicacoe-s {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.indicacoe-s img {
    width: 30%;
}

.indicacoe-s h1 {
    color: rgb(39, 39, 39);
}

.indicacoe-s p {
    color: rgb(39, 39, 39);
}
/* Fim Indicações */

/* Inicio Quem Somos */
.quem-somos {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.quem-somos img {
    width: 30%;
}

.quem-somos h1 {
    color: rgb(39, 39, 39);
}

.quem-somos p {
    color: rgb(39, 39, 39);
}
/* Fim Quem Somos */